ion-row {
  padding-top: 25px;
}

ion-card {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-tab-bar, ion-tab-button{
    background-color: #1a1919;
  }
  