<ion-content [fullscreen]="false" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="success" class="ion-justify-content-center">Sobre Viana do Castelo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid [fixed]="true">
      <ion-img src="../assets/img/viana.webp" id="imgEu" class="rounded-image"></ion-img>
      <ion-row>
        <ion-text class="ion-text-center" color="white">
          <p>
            Viana do Castelo é uma cidade portuguesa situada no Norte, sendo
            conhecida pela sua história marítima, trajes tradicionais e praias.
          </p>
          <p>
            Como destaques temos a Sé Catedral, o Santuário de Santa Luzia e
            festas de Nossa Senhora da Agonia.
          </p>
          <p>
            A cidade também é conhecida pela indústria naval e pela gastronomia
            local, especialmente peixe fresco e doces conventuais.
          </p>
        </ion-text>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer [translucent]="false">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="sobreMim()">
          <ion-icon color="success" name="accessibility-outline"></ion-icon>
          Sobre Mim
        </ion-tab-button>
        <ion-tab-button tab="radio" (click)="viana()">
          <ion-icon color="success" name="heart-outline"></ion-icon>
          Viana do Castelo
        </ion-tab-button>
        <ion-tab-button tab="library" (click)="restaurantes()">
          <ion-icon color="success" name="storefront-outline"></ion-icon>
          Restaurantes
        </ion-tab-button>
        <ion-tab-button tab="search" (click)="receitas()">
          <ion-icon color="success" name="restaurant-outline"></ion-icon>
          Receitas
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
