<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="success" class="ion-justify-content-center">Restaurantes Locais</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-between">
      <ion-col size="6">
        <ion-card class="ion-text-center" color="success">
          <ion-img alt="Restaurante O Laranjeira" src="../assets/img/olaranjeira.jpg" ></ion-img>
          <ion-card-header>
            <ion-card-title>
              <h3>O Laranjeira</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Localização: R. Manuel Espregueira 24, 4900-318 Viana do Castelo
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center" color="success">
          <ion-img alt="Tasquinha da linda" src="../assets/img/tasquinha-da-linda.jpg" ></ion-img>
          <ion-card-header>
            <ion-card-title>
              <h3>Tasquinha da Linda</h3>
            </ion-card-title>            
          </ion-card-header>
          <ion-card-content>
            Localização: R. dos Mareantes A10, 4900-371 Viana do Castelo
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <ion-col size="6">
        <ion-card class="ion-text-center" color="success">
          <ion-img alt="Restaurante Camelo" src="../assets/img/camelo.webp" ></ion-img>
          <ion-card-header>
            <ion-card-title>
              <h3>Restaurante Camelo</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Localização: Santa Marta 119, 4925-104 Viana do Castelo
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-text-center" color="success">
          <ion-img alt="O Vasco - Restaurante" src="../assets/img/restaurante-o-vasco.jpg" ></ion-img>
          <ion-card-header>
            <ion-card-title>
              <h3>O Vasco - Restaurante</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Localização: R. Grande 21, 4900-539 Viana do Castelo
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="false">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="sobreMim()">
          <ion-icon color="success" name="accessibility-outline"></ion-icon>
          Sobre Mim
        </ion-tab-button>
        <ion-tab-button tab="radio" (click)="viana()">
          <ion-icon color="success" name="heart-outline"></ion-icon>
          Viana do Castelo
        </ion-tab-button>
        <ion-tab-button tab="library" (click)="restaurantes()">
          <ion-icon color="success" name="storefront-outline"></ion-icon>
          Restaurantes
        </ion-tab-button>
        <ion-tab-button tab="search" (click)="receitas()">
          <ion-icon color="success" name="restaurant-outline"></ion-icon>
          Receitas
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>